/*COLOR*/
.color1 {
  background-color: #ffffff;
}
.color2 {
  background-color: #f8f9fc;
}
.color3 {
  background-color: #181515;
}
.txt-color1 {
  color: #181515;
}

.banner {
  width: 80%;
  height: 200px;
  text-align: center;
  border-radius: 20px;
  background-color: #3498db;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.banner-content {
  display: flex;
  align-items: center;
  padding: 25px;
  position: relative;
}

.message {
  text-align: left;
  color: #fff;
}

.moving-image {
  position: absolute;
  right: 0; /* Align the boat image to the right */
  animation: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.mg-1 {
  margin-left: 5%;
}
.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

#myVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mg-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.ml-10 {
  margin-left: 12px;
  margin-right: 12px;
  vertical-align: middle;
}

.mg-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mg-40 {
  margin-top: 40px;
}
.mg-20 {
  margin-top: 20px;
}

.mg-10 {
  margin-top: 6px;
}

.mg-150 {
  margin-top: 140px;
}

.cntr {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.sub-color {
  background-color: #d1e8e4;
}

.scolor {
  color: #d1e8e4;
}

.tb-color {
  background-color: #ece2e1;
}

.btnc {
  background-color: #a1cae2;
}

.tcolor {
  color: #1d668c;
}

.t1color {
  color: #a62d38;
}

.color1 {
  color: white;
}

.bdcolor1 {
  border-color: #a62d38;
}
.colmargin {
  position: fixed;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.7rem;
  width: 100%;
}

.fsizeborder {
  font-size: 50px;
}

.fsmainborder {
  font-size: 25px;
}

.fsml {
  font-size: 20px;
}

.pbtn {
  background-color: #ece2e1;
}

.cmodal {
  background-color: #e4dccf;
}
/* Additional CSS styles as needed */
.sz {
  text-align: right; /* Align the text to the right */
}
/* Style for active link */
.active-link {
  background: #ffffff; /* White background */
  border-radius: 25px; /* Rounded border corners */
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn.btn-outline-red {
  color: #a62d38;
  border-color: #a62d38;
}

#wrapper {
  background-color: #a62d38;
}

.mainc {
  background-color: #a62d38;
}

#content h3 {
  color: #ffffff;
}

.sidebar-brand-icon img {
  width: 50px;
}

.sidebar-brand-text .com {
  font-size: 10px;
}

.faq {
  color: #d1e8e4;
}

.topbar #sidebarToggleTop:hover {
  background-color: #a1cae2;
}

.topbar #sidebarToggleTop:active {
  background-color: #a1cae2;
}

#deptDrop,
#empBtn,
.cbtn {
  background-color: #a1cae2;
  color: #1d668c;
}
.sidesize {
  font-size: 23px;
}

.centered {
  text-align: center;
}

.lm-1 {
  margin-left: -16px;
}

/* Default styles for the sidebar items */
.nav-item.active .nav-link .d-flex {
  align-items: center;
}

.nav-item.active .nav-link img {
  display: inline-block;
  margin-right: 10px; /* Add some spacing between the image and text */
}

/* Media query for smaller screen sizes */
@media (max-width: 768px) {
  .nav-item.active .nav-link .d-flex {
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 10px 15px; /* Add padding to create space around the content */
  }

  .nav-item.active .nav-link img {
    display: block; /* Display the image as a block element */
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 5px; /* Add some spacing at the bottom */
  }

  .nav-item.active .nav-link .sidesize {
    display: none; /* Hide the text initially */
  }

  .sz {
    display: none;
  }

  .active-link {
    border-radius: 50px; /* Rounded border corners */
  }
}

/* Regular button style */
.btn.btn-outline-light.btn-sm {
  border-color: #a62d38; /* Set the default border color to white */
}

/* Hover effect - change text color to red */
.btn.btn-outline-light.btn-sm:hover {
  color: #a62d38; /* Set the text color to red on hover */
}

.weight {
  font-weight: bolder;
}

.form-control:focus {
  color: #6e707e;
  background-color: #fff;
  border-color: #de8080;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(251, 138, 147);
}

.hover {
  padding: 20px;
  background-color: #fff;
  color: #a62d38;
  transition: background-color 0.3s ease; /* Adding a smooth transition effect */
}

.hover:hover {
  background-color: #a62d38;
  color: #fff;
}

.red-checkbox:checked + .custom-control-label::before {
  background-color: #a62d38;
  border-color: #a62d38;
}

.h4 {
  font-weight: bolder;
}

/* Media query for screens smaller than 576px (e.g., mobile) */
@media (max-width: 575.98px) {
  .cardindex {
    width: 100%;
  }
}

/* Media query for screens between 576px and 767.98px (e.g., small tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .cardindex {
    width: 48%;
  }
}

/* Media query for screens between 768px and 991.98px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .cardindex {
    width: 31.33%;
  }
}

/* Media query for screens between 992px and 1199.98px (e.g., medium desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .cardindex {
    width: 22.66%;
  }
}

/* Media query for screens larger than 1200px (e.g., large desktops) */
@media (min-width: 1200px) {
  .cardindex {
    width: 17%;
  }
}
@media (max-width: 767.98px) {
  .lm-1 {
    margin-left: -15px;
  }
}
